*.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
add filter=lfs diff=lfs merge=lfs -text
weights_12.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_16.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_24.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_26.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_13.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_15.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_27.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_30.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_10.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_11.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_14.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_17.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_28.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_25.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_29.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_18.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_19.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_20.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_21.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_22.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
weights_23.tf.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
